pytest
uvicorn
sqlalchemy
fastapi
fastapi_crudrouter
requests
pandas
matplotlib
hypothesis
scipy

async-generator; python_version=='3.6'
async-exit-stack; python_version=='3.6'

# Linting
flake8
flake8-black
flake8-bugbear
flake8-import-order
flake8-bandit
flake8-annotations
flake8-builtins
flake8-variables-names
flake8-functions
flake8-expression-complexity

# Typing
mypy
